.Footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 132px;
}
.Footer .Name{
    position: relative;
    width: 29%;
    height: 100%;
}
.Footer .Name p{
    position: absolute;
    top: 15%;
    left: 7%;
    font-size: 35px;
}

.Footer .Name span{
    font-size: 8px;
    position: absolute;
    top: 73px;
    left: 11%;
}

.Footer .page{
    width: 35%;
    top: 50%;
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 48px;
    height: 30px;
    transform: translateY(-50%);
    left: -91px;
}

.Footer .page a{
    color: white;
    font-size: 21px;
    margin-bottom: 7px;
    top: 10px;
    position: relative;
}
.Footer .page a span{
    display: flex;
    width: 112px;
}
.Footer .touch{
    position: relative;
    width: 19%;
    height: 100%;
}
.Footer .touch p{
    width: max-content;
    font-size: 28px;
    top: 3px;
    position: relative;
}
.Footer .touch a {
    position: relative;
    top: 28%;
    margin-right: 9px;
    left: 12%;
}
.Footer .touch a img{
    width: 25px;
    height: 25px;
}
.Footer .touch span{
    position: absolute;
    top: 41px;
    left: 8%;
    font-size: 10px;
}
@keyframes Vibrate {
    0% ,100%{
        top: 10px;
    }
    30%{
        top: -10px;
    }
    
    60%{
        top: 20px;
    }
}
/* Start responsive  */
@media (max-width:768px) {
    .Footer .page {
    width: 21%;
    gap: 0px;
    flex-direction: column;
    top: 2%;
    left: 3%;
    transform: none;

    }
    .Footer .Name p {
        font-size: 20px;
    }
    .Footer .Name span {
        font-size: 6px;
        top: 57px;
        left: 10%;
    }
    .Footer .touch a {
        position: relative;
        top: 28%;
        margin-right: 4px;
        left: -2%;
    }
    .Footer .touch p {
        width: max-content;
        font-size: 21px;
        top: 7px;
        position: relative;
        left: -28px;
    }
    .Footer .touch a img {
        top: 24px;
        position: relative;
    }
}
@media (max-width:475px) {
    
    .Footer{}
    .Footer .Name p {
        font-size: 20px;
    }
    .Footer .Name span {
        font-size: 6px;
        top: 57px;
        left: 10%;
    }
    .Footer .page {
    width: 21%;
    gap: 0px;
    flex-direction: column;
    top: 2%;
    left: 3%;
    transform: none;

    }
    
    .Footer .page a{
    font-size: 15px;
}

    .Footer .touch {
        width: 32%;
        left: -14px;
    padding-left: 11px;

    }
    .Footer .touch a{
        left: 19%;
    }
    .Footer .touch p {
        top: 19px;
        font-size: 16px;
        left: 10px;
    }
    .Footer .touch span {
    top: 43px;
    left: 14%;
    font-size: 6px;
    left: 31px;
}
.Footer .touch a img {
    width: 18px;
    height: 18px;
}
}
@media (max-width:375px) {
.Footer .Name p {
    font-size: 17px;
}
.Footer .Name span {
    font-size: 5px;
    top: 46px;
}

.Footer .page {
    left: 4%;
}
}

/* End responsive  */